.sidebar {
  height: 89vh;
  margin-top: 2px;
  padding-top: 20px;
  margin-left: -10px;
  background-color: grey;
}

.sidebar .nav-link {
  color: white;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.content {
  background-color: #f8f9fa;
  min-height: 89vh;
}
